.headroom {
  margin: 1em;
}

.cssgrid {
  display: grid;
  grid-gap: 2em;
  /* set overall rows (10) and columns (2) */
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(11, 1fr);
  /* 3 rows in viewport on load */
  min-height: 333.33vh;
}

/* colors: https://color.adobe.com/Vintage-Ralph-Lauren-color-theme-2216979/ */

.item {
  /* text in box */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item.one {
  background-color: #703030;
  grid-row: span 10;
  grid-column: span 2;
}
.item.two {
  background-color: #2f343b;
  grid-row: span 2;
  grid-column: span 3;

}
.item.three {
  /* take up 2 rows */
  grid-row: span 2;
  grid-column: span 3;
  background-color: #7e827a;
}
.item.four {
  background-color: #e3cda4;
  grid-row: span 2;
  grid-column: span 3;
}
.item.five {
  background-color: #c77966;
  grid-row: span 2;
  grid-column: span 3;
}
.item.six {
  /* take up 2 rows 2 columns */
  grid-row: span 2;
  grid-column: span 3;
  background-color: #703030;
}
.item.seven {
  background-color: #2f343b;
  grid-row: span 2;
  grid-column: span 3;
}
.item.eight {
  background-color: #7e827a;
  grid-row: span 2;
  grid-column: span 3;
}
.item.nine {
  grid-row: span 2;
  grid-column: span 3;
  background-color: #e3cda4;
}
.item.ten {
  grid-row: span 2;
  grid-column: span 3;
  background-color: #c77966;
}

@media (max-width: 700px) {
  .cssgrid {
    display: grid;
    grid-gap: .1em;
    /* set overall rows (10) and columns (2) */
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* 3 rows in viewport on load */
    min-height: 333.33vh;
  }
.item.one {
  display: none;
  visibility: hidden;
}
.item.two {
  grid-row: span 1;
  grid-column: span 1;
}
.item.three {
    grid-row: span 1;
    grid-column: span 1;
  }
.item.four {
      grid-row: span 1;
      grid-column: span 1;
  }
}
