<div class="barNav">
    <a href="{{ site.url }}"><span id="mmo">Lorem</a>

    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>

</div>



<div class="cover" onclick="toggleNav();"></div>


<div class="hamburger" id="hamburger" onclick="toggleNav();">

    <div></div>
     <div></div>
    <div></div>
    <h3></h3>

</div>



<nav>
  <div class="logo">
    <h2>Lorem</h2>
  </div>
  <div class="links">
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>
    <a href="{{ site.url }}/">Lorem</a>

  </div>
  <footer>
    <p></p>
  </footer>
</nav>
